{{ define "index" }}
<div class="container_form">
    <h1 class="container_form-title">Сократить URL-адрес</h1>
    <!-- id изменён на shorten-form -->
    <form id="shorten-form" class="container_form-action">
        <input
            type="text"
            name="url"
            placeholder="Введите URL-адрес для сокращения"
            class="container_form-input"
        />
        <button type="submit" class="container_form-btn">Сократить</button>
    </form>
    <!-- сюда отрисуем короткую ссылку -->
    <div id="short-url-result" class="shorten-result"></div>
</div>
{{ end }}
